<br>
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        Lista de Usuarios del Sistema
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
            <tr>
              <td>{{this.first_name}}</td>
              <td>{{this.email}}</td>
              <td>{{this.role}}</td>
              <td>
                <button type="button" class="btn btn-success btn-sm" onclick="editUserRole('{{this._id}}')">Activar - Premiun</button>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="/js/edit-role.js"></script>  



 

 


