<br>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                Catálogo de Equipo En Venta
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="checkoutForm" action="/productcatalog" method="post">
            <div class="row mb-3">
                <div class="col-md-6">
                    <h5 class="fs-6">Información del Usuario</h5>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="direccion" class="form-label">Dirección:</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5 class="fs-6">Detalles del Pago</h5>
                    <div class="mb-3">
                        <label for="tarjeta" class="form-label">Número de Tarjeta:</label>
                        <input type="text" class="form-control" id="tarjeta" name="tarjeta" required>
                    </div>
                    <div class="mb-3">
                        <label for="vencimiento" class="form-label">Fecha de Vencimiento:</label>
                        <input type="text" class="form-control" id="vencimiento" name="vencimiento" required>
                    </div>
                    <div class="mb-3">
                        <label for="cvv" class="form-label">CVV:</label>
                        <input type="text" class="form-control" id="cvv" name="cvv" required>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <h5 class="fs-6">Detalles de Compra</h5>
                    <div id="cartDetails">
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                     <a  class="btn btn-danger btn-sm" id="clearcard" href="/productcatalog">Atrás</a>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary btn-lg btn-block btn-sm">Confirmar y Pagar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<script src="/js/paycheckout.js"></script>  

