<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title text-center">Perfil</h2>
      <div class="form-group">
        <label>Nombre</label>
        <p class="form-control">{{user.first_name}}</p>
      </div>

      <div class="form-group">
        <label>Apellido</label>
        <p class="form-control">{{user.last_name}}</p>
      </div>

      <div class="form-group">
        <label>Correo</label>
        <p class="form-control">{{user.email}}</p>
      </div>
      
      <div class="text-center">
         <a  class="btn btn-success" href="/home">Atras</a>
      </div>
    </div>
  </div>
</div>